/* Coffee list
========================================================================== */
.coffee-list {
    display: block;
    width: 940px;
    height: 521px;
    margin: 55px auto 0;
    clear: both;
}
  .coffee-list .coffee-item {
      float: left;
      width: 225px;
      height: 521px;
      margin: 0 10px 18px 0;
      position: relative;
      z-index: 0;
  }
  .coffee-list .coffee-item:nth-child(4n) {
      margin-right: 0;
  }
  .coffee-item .coffee-type {
    width: 221px;
    height: 260px;
    position: relative;
  }
  .coffee-item .coffee-type:before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11.1px 10px 0 10px;
    position: absolute;
    top: 260px;
    left: 97px;
  }
  .coffee-item .coffee-type:after {
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 12.1px 10px;
    position: absolute;
    top: 248px;
    left: 97px;
  }
  .coffee-item .nome-receita {
    width: 221px;
    position: absolute;
    bottom: 34px;
    text-align: center;
    color: #fff;
    font-family: 'latobold';
    font-size: 19.5px;
    text-transform: uppercase;
  }
  .coffee-item .coffee-desc {
    width: 221px;
    height: 261px;
    color: #26202e;
    font-family: 'latoregular';
    font-size: 12px;
    line-height: 135%;
    text-align: center;
    padding: 37px 15px 0;
  }
  .coffee-item .coffee-desc .text-coffee {
    margin: 0;
  }
  .coffee-item .coffee-price {
    display: block;
    color: #251f26;
    font-family: 'arvobold';
    font-size: 17px;
  }
  .coffee-item .coffee-price > .coffee-unit {
    font-size: 14px;
  }
  .coffee-item .coffee-select {
    display: inline-block;
    min-width: 97px;
    margin-top: 22px;
    padding: 11px 19px;
    font-size: 10px;
    text-transform: uppercase;
  }

  /* Lista de café Default
     ========================================================================== */
  .item-default .coffee-type {
      background-color: #251f26;
  }
  .item-default .coffee-type:before {
    border-color: #26202e transparent transparent transparent;
  }
  .item-default .coffee-type:after {
    border-color: transparent transparent #26202e transparent;
  }
  .item-default .coffee-desc {
      background: #fff;
  }
  .item-default .coffee-desc .text-coffee {
    min-height: 114px;
  }
  .item-default .coffee-select {
    background: #a7957a;
  }

  /* Lista de café Crie sua receita
     ========================================================================== */
  .item-receita .coffee-type {
    background-color: #fff;
  }
  .item-receita .coffee-type:before {
    border-color: #fff transparent transparent transparent;
  }
  .item-receita .coffee-type:after {
    border-color: transparent transparent #fff transparent;
  }
  .item-receita .coffee-desc {
    background-color: #a7957a;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-left: 6px solid #fff;
  }
  .item-receita .coffee-desc .text-coffee {
    min-height: 131px;
  }
  .item-receita .coffee-select {
    background-color: #251f26;
  }

  /* Lista de café Minhas receitas
   ========================================================================== */
   .minha-receita-selected:before {
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 23px 23px 0 0;
      border-color: #ebd5b4 transparent transparent transparent;
      position: absolute;
      z-index: 2;
   }
  .minha-receita .coffee-type {
    background-color: #4b4338;
  }
  .minha-receita .coffee-type:before {
    border-color: #4b4338 transparent transparent transparent;
  }
  .minha-receita .coffee-type:after {
    border-color: transparent transparent #4b4338 transparent;
  }
  .minha-receita .coffee-desc {
    background-color: #fff;
  }
  .minha-receita .coffee-desc .text-coffee {
    min-height: 116px;
  }
  .minha-receita .coffee-select {
    background-color: #a7957a;
  }

  /* Opcoes selecionar minha receita
   ========================================================================== */
.coffee-select-options {
  display: block;
  text-align: left;
}
  .coffee-select-options .coffee-select {
    float: left;
    text-align: center;
    min-width: 108px;
  }
  .coffee-select-options .opcoes-receita {
    float: right;
    margin: 31px 0 0 0;
  }
  .coffee-select-options .opcoes-receita li {
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
  }
  .coffee-select-options  .opcoes-receita .fa {
      font-size: 20px;
      cursor: pointer;
   }
   .coffee-select-options  .opcoes-receita .fa-star {
      color: #ecc489;
   }