@import url("escolha-seu-cafe.css");
@import url("recipe-coffee.css");

/* Selecione seu grão
========================================================================== */
.recipe-default .coffee-type {
  background-color: #251f26;
}
.recipe-dark .coffee-type {
  background-color: #56411f;
}
.recipe-light .coffee-type {
  background-color: #b6996a;
}

/* Intensidade
========================================================================== */
.persona {
    background-image: url('../../../../content/images/crie-sua-receita/intensidade/intensidade-cafe.png');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 212px;
    height: 306px;
    display: block;
    margin: 75px auto 0 auto;
}

.content-slider {
    width: 820px;
    margin: 0 auto;
    display: block;
}

.content-slider .nivel-slider {
  position: relative;
  padding-bottom: 23px;
}

.content-slider .nivel-slider li {
    width: 25%;
    float: left;
}
.content-slider .nivel-slider li .numero-nivel {
    float: left;
    width: 18px;
    height: 18px;
    background: #b6996a;
    border-radius: 50%;
    color: #251f26;
    font: 14px 'loveloblack';
    margin-right: 25%;
    text-align: center;
    cursor: pointer;
}
.content-slider .nivel-slider li .numero-nivel.active-nivel {
    background: #fff;
}

.content-slider .nivel-slider li:nth-child(5n) {
  width: 18px;
  position: absolute;
  right: 0.9%;
}

.content-slider .status-slide {
  margin-top: 28px;
}
.content-slider .status-slide li {
  float: left;
  width: 33.3%;
  font: 14px 'arvoregular';
  color: #fff;
}
.content-slider .status-slide li:nth-child(1n) {
  text-align: left;
}
.content-slider .status-slide li:nth-child(2n) {
  text-align: center;
}
.content-slider .status-slide li:nth-child(3n) {
  text-align: right;
}

.content-slider .slider .slider-bars {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 2;
}
.content-slider .slider .slider-bars li {
  float: left;
  width: 4px;
  height: 52px;
  background: #403742;
  margin-right: 4px;
}

.content-slider .slider .mask-slider {
  width: 4px;
  height: 52px;
  background: #b6996a;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/* Temperatura
========================================================================== */
.step-temperatura .persona {
    background-image: url('../../../../content/images/crie-sua-receita/temperatura/temperatura-cafe.png');
}

.step-temperatura .content-slider .nivel-slider li .numero-nivel {
  background: #fff;
}
.step-temperatura .content-slider .nivel-slider li .numero-nivel.active-nivel {
    background: #251f26;
    color: #fff;
}

.step-temperatura .content-slider .status-slide li {
  width: 20%;
  text-align: center;
}
.step-temperatura .content-slider .status-slide .segundo-status {
    text-align: left;
    padding-left: 35px;
}
.step-temperatura .content-slider .status-slide .terceiro-status {
    text-align: center;
    padding-left: 21px;
}
.step-temperatura .content-slider .status-slide .quarto-status {
    text-align: right;
    padding-right: 15px
}
.step-temperatura .content-slider .status-slide li:first-child {
  text-align: left;
}
.step-temperatura .content-slider .status-slide li:last-child {
  text-align: right;
}

.step-temperatura .content-slider .slider .slider-bars li {
  background: #746651;
}

.step-temperatura .content-slider .slider .mask-slider {
  background: #c2b5a1;
}