@import url("coffee-list.css");
@import url("step.css");

.position-text {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 45px;
}

/* ==========================================================================
   Escolha seu café
   ========================================================================== */
.menu.sua-receita {
  width: 188px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -188px;
  z-index: 2;
  background-color: #2e272f;
}
.menu.sua-receita .menu-scroll {
  height: 100%;
  padding: 35px 20px 0;
  overflow: auto;
  text-align: center;
}
.menu.sua-receita .show-receita {
  width: 46px;
  height: 46px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 189px;
  padding-top: 10px;
}
  .menu.sua-receita .show-receita > span,
  .menu.sua-receita .show-receita > span:before,
  .menu.sua-receita .show-receita > span:after {
    width: 30px;
    height: 6px;
    background: #a7957a;
  }
  .menu.sua-receita .show-receita > span {
    display: block;
    margin: 0 auto;
  }
  .menu.sua-receita .show-receita > span:before,
  .menu.sua-receita .show-receita > span:after {
    content: " ";
    float: left;
  }
  .menu.sua-receita .show-receita > span:before {
    margin-top: 10px;
  }
  .menu.sua-receita .show-receita > span:after {
    margin-top: 4px;
  }
 .menu.sua-receita h4 {
    font-family: 'arvobold';
    font-size: 18px;
    color: #a69378;
    text-align: center;
    margin: 0;
 }
 .menu.sua-receita .receita-options {
    margin-top: 24px;
    border-top: 1px solid #c1b199;
 }
 .receita-options .option-receita {
    font-family: 'latoregular';
    font-size: 13px;
    color: #a69378;
    text-align: left;
    display: block;
    margin-top: 18px;
 }
 .receita-options > strong {
    font-family: 'latolight';
    font-size: 13px;
    color: #fff;
    display: block;
    margin-top: 6px;
    padding-bottom: 4px;
    border-bottom: 1px solid #c1b199;
    text-align: left;
 }

/* ==========================================================================
   Faça seu cadastro / log-in
   ========================================================================== */

/* Form login */
.form-login h3, .sign-up h3 {
  font: 15px 'arvobold';
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 29px;
}
.form-login {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    padding-right: 40px;
}
.form-login .field {
    position: relative;
}
.form-login label {
    font: 14px 'latoregular';
    color: #363636;
    line-height: 47px;
    position: absolute;
    top: 0;
    left: 12px;
}
.form-login .fa {
    padding-right: 15px;
}
.form-login .fld-text {
    display: block;
    width: 100%;
    height: 47px;
    border: 0;
    outline: none;
    padding: 0 12px;
}
.form-login .fld-login {
    border-bottom: 1px solid #828282;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.form-login .fld-pass {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.form-login .pass-recovery {
    float: left;
    color: #fff;
    font: 12px 'latoregular';
    margin: 5px 0 0 3px;
}

/* Sign up */
.sign-up {
  display: inline-block;
  width: 387px;
  border-left: 6px solid #99866b;
  padding-left: 39px;
}
.sign-up .list-circle {
    color: #251f26;
    font: 14px 'arvoitalic';
    line-height: 14px;
}
.sign-up .list-circle li {
    margin-bottom: 12px;
}
.sign-up .list-circle li:before {
    content: '•';
    color: #fff;
    font-size: 20px;
    float: left;
    line-height: 100%;
    padding-right: 6px;
}

/* ==========================================================================
   Coffee Pass
   ========================================================================== */
.form-coffee-pass {
  width: 313px;
  height: 140px;
  margin: 163px 0 0 412px;
  padding: 62px 0 0 106px;
}
.form-coffee-pass label {
  font: 14px 'arvobold';
  color: #251f26;
  text-transform: uppercase;
}
.recovery-coffee-pass {
  float: right;
  color: #fff;
  font-family: 'latobold';
  font-size: 13px;
  margin: 30px 255px 0 0;
}
.form-coffee-pass .select-form {
  width: 173px;
  margin-top: 5px;
}

/* ==========================================================================
   Do seu jeito
   ========================================================================== */
.position-text .text {
    color: #c1b199;
    font: 14px 'loveloblack';
}
.position-text .recovery-coffee {
    color: #fff;
    font: 13px 'latoblack';
    margin: 0 auto;
}

/* ==========================================================================
   Desfrute seu café
   ========================================================================== */
.position-text label {
    color: #251f26;
    font: 14px 'arvoitalic';
}
.position-text a {
    color: #251f26;
    border-bottom: 1px solid #82725d;
    text-decoration: none;
}
.position-text a:hover {
    border: 0;
}

/* ==========================================================================
   Escolha uma música
   ========================================================================== */
 .form-escolha-musica {
    padding: 184px 0 0 220px;
 }
 .form-escolha-musica label {
    display: block;
    font: 15px 'arvoregular';
    color: #fff;
    margin-bottom: 10px;
 }
 .form-escolha-musica input {
    width: 655px;
    height: 34px;
    font: 15px 'arvoregular';
    color: #fff;
    background: #251f26;
    border: none;
    padding: 0 5px;
    margin-bottom: 10px;
 }
 /* ==========================================================================
   Nome Receita
   ========================================================================== */
   .form-nome-receita {
      margin-top: 212px;
   }
   .form-nome-receita label {
      font: 15px 'arvoregular';
      padding-bottom: 8px;
      border-bottom: 3px solid #251f26;
   }
   .form-nome-receita input {
      width: 85%;
      font: 48px 'arvoregular';
      margin-left: 20px;
      background: none;
      border: none;
      color: #fff;
   }
   .form-nome-receita .status-campo {
      font: 10.5px 'latobold';
      color: #fff;
      width: 49.7%;
      display: inline-block;
   }
   .form-nome-receita .status-campo:last-child {
      color: #251f26;
      text-align: right;
   }

   /* ==========================================================================
   Imagem receita
   ========================================================================== */

   .image-list {
      float: left;
      width: 600px;
   }
   .image-list ul {
    margin: 0;
   }
   .image-list ul li {
      float: left;
      width: 140px;
      height: 124px;
      margin: 0 10px 19px 0;
      background: #99866b;
      cursor: pointer;
      position: relative;
   }
   .image-list ul li.image-selected:before {
    content: " ";
    width: 50px;
    height: 47px;
    background: url('../../../images/item-selected-light.png') no-repeat 0 0;
    position: absolute;
    top: -13px;
    right: 10px;
    z-index: 1;
   }
   .preview-image {
      float: right;
      width: 320px;
      height: 410px;
      background: #c1b199;
      margin-right: 20px;
      padding: 80px 44px;
      box-shadow: 15px 17px 0 0 rgba(0,0,0, 0.2);
   }
   .preview-image .box-image {
      display: block;
      width: 230px;
      height: 254px;
      background: #4b4338;
      box-shadow: -5px -5px 0 0 rgba(0,0,0, 0.2);
   }
   .box-image .name-preview {
      display: block;
      text-align: center;
      font: 18px 'latobold';
      color: #fff;
   }
   .box-image .name-preview > img {
      margin-bottom: 5px;
    }


   /* ==========================================================================
   Confira e salve
   ========================================================================== */

.marca-cafe {
  width: 233px;
  height: 238px;
  background: url('../../../images/crie-sua-receita/marca-de-cafe.png') no-repeat 0;
  position: absolute;
  left: 320px;
  top: -120px;
}

.receita-final {
     width: 279px;
     height: 1004px;
     margin: 0 auto;
     background: url('../../../images/crie-sua-receita/bg-confira-sua-receita.png') no-repeat center 0;
     position: absolute;
     top: -220px;
     left: 50%;
     margin-left: -139px;
     padding: 446px 0 0 36px;
}
.receita-final .text-coffee {
  font-size: 14px;
  line-height: 140%;
}
.receita-final .coffee-item .coffee-desc {
  height: 203px;
}
.receita-final .btn-default {
  font-size: 12.5px;
  padding: 16px 38px;
  margin: 36px 0 0 21px;
  display: inline-block;
}