/* Recipe coffee
========================================================================== */
.content-recipe {
  width: 960px;
  height: 580px;
  text-align: center;
}
.recipe-coffee {
    margin: 55px auto 0;
    clear: both;
    display: inline-block;
}
  .recipe-coffee .item-recipe {
      float: left;
      width: 221px;
      height: 521px;
      position: relative;
      z-index: 0;
  }
  .recipe-coffee .item-recipe:nth-child(2n) {
      margin: 0 18px 18px 18px;
  }
  .recipe-coffee .coffee-type {
    position: relative;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    margin: 0 auto 38px auto;
  }
  .recipe-coffee .coffee-type:before {
    display: none;
  }
  .item-recipe .coffee-type:after {
    content: " ";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 12.1px 10px;
    position: absolute;
    top: 211px;
    left: 82px;
    border-color: transparent transparent #fff transparent;
  }
  .item-recipe.coffee-selected:before {
    top: 210px;
    left: 4px;
    background: url('../../../images/item-selected-dark.png') no-repeat 0 0;
  }
  .item-recipe .coffee-desc {
    position: relative;
  }
  .item-recipe .coffee-desc:before {

  }
  .item-recipe .coffee-desc .text-coffee {
    min-height: 116px;
  }
  .item-recipe .coffee-select {
    background-color: #a7957a;
  }

/* Método de extração
========================================================================== */
  .coffee-method .item-recipe .coffee-type {
    margin-bottom: 70px;
    background: none;
  }
  .coffee-method .item-recipe .coffee-type:after {
    top: 243px;
  }
  .coffee-method .item-recipe .coffee-type .nome-receita {
    color: #251f26;
    bottom: -41px;
    left: -20px;
  }
  .coffee-method .item-recipe.coffee-selected:before {
    top: 242px;
  }