/* Navegacao setas centrais
========================================================================== */
.navegacao-central {
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  font: 12px 'latobold';
  letter-spacing: 6px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  z-index: 20;
}

/*
   Próximo
   ========================================================================== */
.navegacao-central.proximo {
  color: #251f26;
  bottom: 20px;
}
.navegacao-central.proximo.text-light {
  color: #fff;
}
.navegacao-central.proximo:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 18.5px 0 18.5px;
  border-color: #99866b transparent transparent transparent;
  margin: 17px auto 0 auto;
}
.navegacao-central.dark.proximo:after {
  border-color: #251f26 transparent transparent transparent;
}

/*
   Anterior
   ========================================================================== */
.navegacao-central.anterior {
  color: #251f26;
  top: 20px;
}
.navegacao-central.anterior.text-light {
  color: #c1b199;
}
.navegacao-central.anterior:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 19px 18px 19px;
  border-color: transparent transparent #fff transparent;
  margin: 0 auto 17px auto;
}

/* ==========================================================================
   Step Pages
   ========================================================================== */
.step {
    width: 100%;
    padding-top: 50px;
    position: relative;
}
    .step .wrapper {
        position: relative;
        min-height: 600px;
    }
    .step .wrapper h2 {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        font: 26px 'loveloblack';
    }
    .step .wrapper h2 .fa-question-circle {
        color: #251f26;
        font-size: 22px;
        cursor: pointer;
        position: relative;
    }
    .step .wrapper h2 .opcional {
        color: #251f26;
        font: 11.5px 'arvoitalic';
        display: inline-block;
        vertical-align: middle;
        margin-top: 8px;
    }
    .helps {
        display: none;
        width: 467px;
        position: absolute;
        top: 33px;
        right: -38px;
        z-index: 1;
        font: 14px 'arvoitalic';
        color: #fff;
        background-color: #251f26;
        padding: 17px 21px;
        border: 1px solid #a7957a;
        box-shadow: 15px 17px 0 0 rgba(0,0,0, 0.2);
    }
        .helps:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #251f26;
            position: absolute;
            top: -8px;
            right: 39px;
        }

    .step .wrapper h2 .bar {
        color: #fff;
    }
    .step .wrapper > h3 {
        font-size: 14px;
        font-family: 'loveloblack';
        color: #251f26;
        text-align: center;
        margin-top: 14px;
    }
    .step .wrapper .link-step:hover {
        text-decoration: none;
    }

/*
   Step Escolha seu café
   ========================================================================== */

    .step-escolha-cafe {
         padding-bottom: 280px;
     }

     .step-escolha-cafe .navegacao-central {
        bottom: 125px;
     }

/*
   Step Coffee Pass
   ========================================================================== */

    .step-coffee-pass {
         background-color: #c1b199;
         padding-top: 100px;
     }
    .step-coffee-pass .wrapper {
         background: url('../../../../content/images/escolha-seu-cafe/coffee-pass.png') no-repeat 0 98px;
     }

/*
   Step Do seu jeito
   ========================================================================== */

    .step-seu-jeito {
        background-color: #251f26;
        min-height: 690px;
        padding-top: 100px;
        padding-bottom: 54px;
    }
    .step-seu-jeito .wrapper {
        background: url('../../../../content/images/escolha-seu-cafe/bg-seu-jeito.png') no-repeat center 63px;
    }


/*
   Step Desfrute seu café
   ========================================================================== */

    .step-desfrute {
      padding-top: 100px;
    }

    .step-desfrute .wrapper {
        background: url('../../../../content/images/escolha-seu-cafe/bg-desfrute.png') no-repeat center 111px;
    }

/*
   Step Cadadastro
   ========================================================================== */

    .step-cadastro {
        background: #99866b url('../../../../content/images/escolha-seu-cafe/bg-cadastro.png') repeat 0 0;
        padding: 100px 0 50px 0;
        min-height: 670px;
    }
    .step-cadastro .wrapper {
        background-color: #a7957a;
        padding: 53px 97px;
        min-height: 485px;
    }
    .step-cadastro .wrapper h2 {
        margin: 0 0 75px 0;
        color: #251f26;
    }

    .step-cadastro .navegacao-central.anterior {
      color: #fff;
    }

/*
   Step Selecione seu grão de café
   ========================================================================== */

    .step-selecione-grao {
        padding: 220px 0;
        background-color: #99866b;
    }
    .step-selecione-grao:before {
        content: " ";
        position: absolute;
        top: -103px;
        left: 50%;
        margin-left: -6%;
        width: 235px;
        height: 270px;
        background: url('../../../../content/images/crie-sua-receita/coffee.png') repeat 0 0;
    }

    .step-selecione-grao .navegacao-central.anterior {
      top: 150px;
    }

/*
   Step Método de extração
   ========================================================================== */

    .step-metodo-extracao {
        background-color: #c1b199;
        padding: 100px 0 220px 0;
    }

/*
   Step Intensidade
   ========================================================================== */

   .step-intensidade {
        background-color: #251f26;
        padding: 220px 0;
    }

    .step-intensidade .wrapper h2 .fa-question-circle {
        color: #b6996a;
    }

/*
   Step Temperatura
   ========================================================================== */

   .step-temperatura {
        background-color: #99866b;
        padding: 220px 0;
    }

/*
   Step Musica
   ========================================================================== */

   .step-musica {
        background: #a69378 url('../../../../content/images/crie-sua-receita/musica.png') no-repeat center 190px;
        padding-bottom: 220px;
    }

    .step-musica .wrapper h2 {
        padding-top: 220px;
    }

/*
   Step Nome da receita
   ========================================================================== */

.step-nome-receita {
    background: #c1b199 url('../../../../content/images/crie-sua-receita/bg-nome-receita.png') no-repeat center;
    padding-bottom: 220px;
}

    .step-nome-receita .wrapper h2 {
        padding: 350px 0 0 70px;
    }

/*
   Step Intensidade
   ========================================================================== */

   .step-imagem-receita {
        background-color: #251f26;
        padding: 220px 0;
    }

    .step-imagem-receita .wrapper h2 {
        width: 290px;
        margin: 0 auto;
    }
    .step-imagem-receita .wrapper h2 .fa-question-circle {
        color: #b6996a;
    }

/*
   Step confira sua receita
   ========================================================================== */

   .step-confira {
        padding: 220px 0;
    }

    .step-confira .wrapper {
        min-height: 700px;
    }

    .step-confira .wrapper h2 {
        z-index: 10;
    }

    .step-confira .wrapper h2 .fa-question-circle {
        color: #251f26;
    }