/* Modal - Cadastre-se
========================================================================== */
.modal-cadastro > p {
  float: left;
  width: 100%;
  font: 14px 'loveloblack';
  text-align: center;
  margin-bottom: 20px;
}
.modal-cadastro .btn-fb {
  display: block;
  margin: 0 0 14px 70px;
  clear: both;
}
.modal-cadastro .field {
  float: left;
  width: 100%;
  margin-bottom: 7px;
  color: #fff;
  font: 14px 'arvoregular';
}
.modal-cadastro label {
  float: left;
  min-width: 70px;
  line-height: 34px;
  position: relative;
}
.modal-cadastro input {
  height: 34px;
  border: 0;
  padding: 0 11px;
  background-color: #a7957a;
  outline: none;
  color: #fff;
  font: 14px 'arvoregular';
}
.modal-cadastro .error-text {
  font: 10px 'arvoitalic';
  color: #c94949;
  line-height: 10px;
  position: absolute;
  bottom: 0;
}
.modal-cadastro .side-right .btn-modal {
  float: right;
  width: 175px;
  margin-top: 37px;
}

/* Part 1 */
.modal-cadastro .part-1 .side-left {
  float: left;
  width: 331px;
  margin-right: 28px;
}
.modal-cadastro .part-1 .side-right {
  float: left;
  width: 443px;
}
.modal-cadastro .part-1 input {
  width: 261px;
}
.modal-cadastro .part-1 .lbl-date {
  margin-right: 43px;
}
.modal-cadastro .part-1 .date-input {
  padding: 3px 7px 0;
  text-align: center;
  width: 41px;
}
.modal-cadastro .part-1 .fld-year {
  width: 71px;
}
.modal-cadastro .part-1 ::-webkit-input-placeholder {
   color: #26202e;
   font: 11px 'arvobold';
}
.modal-cadastro .part-1 :-moz-placeholder {
   color: #26202e;
   font: 11px 'arvobold';
}
.modal-cadastro .part-1 ::-moz-placeholder {
   color: #26202e;
   font: 11px 'arvobold';
}
.modal-cadastro .part-1 :-ms-input-placeholder {
   color: #26202e;
   font: 11px 'arvobold';
}
.modal-cadastro .part-1 .select-form {
  width: 80px;
}

/* Part 2 */
.modal-cadastro .part-2 .side-left {
  float: left;
  width: 408px;
  margin-right: 27px;
}
.modal-cadastro .part-2 .side-right {
  float: left;
  width: 367px;
}
.modal-cadastro .part-2 input {
  width: 324px;
}
.modal-cadastro .part-2 .fld-cep {
  width: 113px;
  margin-left: 15px;
}
.modal-cadastro .part-2 .fld-cep + .btn-modal {
  padding: 12px 12px 10px;
  margin: 0 0 0 10px;
}
.modal-cadastro .part-2 .fld-city {
  margin: 0 6px 0 14px;
}
.modal-cadastro .part-2 .fld-city {
  width: 186px;
}
.modal-cadastro .part-2 .slc-estado {
  width: 62px;
}
.modal-cadastro .fld-upload {
  margin-top: 43px;
}
.modal-cadastro .fld-upload .photo {
  float: left;
  width: 65px;
  height: 65px;
  background-color: #a7957a;
  margin: 0 10px 0 14px;
}
.modal-cadastro .fld-upload a {
  float: left;
  width: 118px;
  color: #fff;
  font-family: 'arvoitalic';
  margin-bottom: 10px;
}
.modal-cadastro .fld-upload .btn-modal {
  padding: 12px 21px;
}
.modal-cadastro .fld-upload .rules {
  float: left;
  width: 100%;
  clear: both;
  color: #a7957a;
  font: 11px 'arvoitalic';
  margin: 5px 0 0 158px;
}
.modal-cadastro .slc-empresa {
  width: 224px;
}
.modal-cadastro .text-noenterprise {
  float: left;
  font: 14px 'arvoregular';
  color: #a7957a;
  margin: 26px 0 7px 0;
}
  .modal-cadastro .text-noenterprise p {
    margin-top: 4px;
    color: #fff;
    font: 12px 'arvoitalic';
  }
.modal-cadastro .fld-empresa {
  width: 156px;
  margin-right: 5px;
}
.modal-cadastro .fld-contato {
  width: 206px;
}
.modal-cadastro .fld-empresa input,
.modal-cadastro .fld-contato input {
  width: 100%;
}