/* Modal - Confirmação  deação
========================================================================== */
.layerConfirmacao {
    width: 690px;
    top: 50%!important;
    left: 50%;
    margin-left: -345px;
}
.layerConfirmacao h3 {
    margin-bottom: 25px;
}
.layerConfirmacao .content-buttons {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}
.layerConfirmacao .content-buttons .btn-modal:first-child {
    margin-right: 20px;
}