/* Modal - Esqueci senha
========================================================================== */
.modal-esqueci-senha {
  min-height: 484px;
}
.modal-esqueci-senha h3 {
  margin-top: 50px;
}
.modal-esqueci-senha > p {
  font: 15px 'arvoitalic';
  color: #251f26;
}
.modal-esqueci-senha input {
  display: block;
  width: 300px;
  height: 47px;
  margin: 56px auto 0;
  padding: 0 36px;
  font: 14px 'latoregular';
}
.modal-esqueci-senha ::-webkit-input-placeholder {
   color: #363636;  
}
.modal-esqueci-senha :-moz-placeholder {
   color: #363636;
}
.modal-esqueci-senha ::-moz-placeholder {
   color: #363636;
}
.modal-esqueci-senha :-ms-input-placeholder {  
   color: #363636;
}
.modal-esqueci-senha .btn {
  margin-top: 49px;
  width: 160px;
}

