/* Modal - Perdi meu coffee pass
========================================================================== */
.modal-perdi-cp p {
  font: 15px 'arvoregular';
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
.modal-perdi-cp .field-solicitar {
  display: block;
  width: 628px;
  text-align: center;
  padding: 12px 0 14px 0;
  border-bottom: 4px solid #251f26;
  margin: 0 auto;
}
.modal-perdi-cp .solicitar-coffee-pass {
  font: 15px 'arvobold';
  color: #26202e;
}
.modal-perdi-cp .field-selecionar-local {
  width: 628px;
  margin: 0 auto;
  padding: 22px 0 0 59px;
}
.modal-perdi-cp .local-retirada {
  float: left;
  font: 14px 'arvobold';
}
.modal-perdi-cp .select-form {
  float: left;
  width: 173px;
  margin: 0 13px;
}
.modal-perdi-cp .btn-default {
  margin-top: 0;
  font: 12px 'latoblack';
  text-transform: uppercase;
  padding: 12px 35px;
}