.modal-termos .scroll-pane {
	width: 802px;
	height: 233px;
	overflow: auto;
}
.modal-termos .btn-default {
	display: inline-block;
	position: relative;
	left: 50%;
	margin: 30px 0 0 -82px; 
}
.modal-termos .btn-default[disabled] {
	background-color: #d8d8d8;
	color: #808080;  
	cursor: default;
}

/* Scroll pane */
.jspContainer {
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
}
.jspCap {
	display: none;
}
.jspTrack {
	background: #d8d8d8;
	position: relative;
	border-radius: 10px;
}
.jspDrag {
	background: #251f26;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border-radius: 10px;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}