/* ==========================================================================
   Step Pages
   ========================================================================== */
.step {
    width: 100%;
    padding-top: 50px;
    position: relative;
    min-height: 100%;
}
    .step .wrapper {
        position: relative;
        text-align: center;
    }
    .step .wrapper h2 {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        font: 32px 'loveloblack';
        margin-top: 12px;
    }
    .step .wrapper h3 {
        display: block;
        text-align: center;
        color: #251e25;
        font: 16px 'arvoitalic';
        margin: 0 0 45px;
    }

/*
   Step 1 - Apresentação
   ========================================================================== */

    .step-apresentacao {
         background-color: #a7957a;
         padding-top: 111px;
         min-height: 595px;
     }
    .step-apresentacao .coffee {
        background: url('../../images/como-funciona/step1-coffee.png') no-repeat 0 0;
        width: 152px;
        height: 230px;
        position: absolute;
        top: -111px;
        left: 431px;
     }
     .step-apresentacao .mug {
        position: relative;
        left: 56px;
     }

/*
   Step 2 - Escolha como você quer seu café
   ========================================================================== */

    .step-escolha-cafe {
         background-color: #99866b;
         padding: 94px 0 143px;
     }
        .step-escolha-cafe h2 {
            margin-bottom: 32px;
        }
/*
   Step 3 - Faça o cadastro
   ========================================================================== */

    .step-faca-cadastro {
        background-color: #c1b199;
        padding: 91px 0 76px;
    }

/*
   Step 4 - Mostre seu cartão para o Barista
   ========================================================================== */

    .step-mostre-cartao {
        background-color: #251f26;
        padding: 51px 0 88px;
    }
    .step-mostre-cartao .wrapper h3 {
        color: #b49869;
    }

/*
   Step 5 - Pegue seu café e dê uma pausa em tudo
   ========================================================================== */

    .step-pegue-cafe {
        background-color: #99866b;
        padding: 91px 0 49px;
    }
    .step-pegue-cafe .wrapper h2 {
        margin-top: 42px;
    }

/*
   Voltar para início
   ========================================================================== */

    .box-voltar-inicio {
        width: 100%;
        position: relative;
        padding: 46px 0 79px;
        background-color: #c1b199;
    }
    .box-voltar-inicio .wrapper {
        position: relative;
        text-align: center;
    }
    .box-voltar-inicio .btn-totop {
        font: 11px 'latobold';
        color: #251f26;
        text-decoration: none;
        letter-spacing: 5px;
        position: relative;
        cursor: pointer;
    }
    .box-voltar-inicio .btn-totop:before {
        content: '';
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        border-bottom: 17px solid #251f26;
        position: absolute;
        bottom: -35px;
        right: 50%;
        left: 50%;
    }
 