.content h3 {
	font: 20px 'arvoregular';
	color: #000;
	border-top: 1px solid #867762;
	border-bottom: 2px solid #000;	
	padding: 33px 0 31px;
	margin: 0 0 38px;
}
.form-contact .two-parts {
	width: 49%;
}
.form-contact .field {
	margin-bottom: 28px;
}
.form-contact label {
	display: block;
	font: 12px 'latoblack';
	color: #000;
	text-transform: uppercase;
	margin-bottom: 18px;
	position: relative;
}
.form-contact .required:after {
	content: '*';
	color: #ff0000;
	font-size: 14px;
}
.form-contact .field input, 
.form-contact textarea {
	width: 100%;
	height: 34px;
	border: 1px solid #ccc;
	outline: none;
	padding: 9px;
	font: 12px 'arvoregular';
}
.form-contact textarea {
	height: 154px;
	resize: none;
}
.form-contact .text-alert {
	color: #fff;
	position: absolute;
	font: 12px 'arvoregular';
	text-transform: none;
	margin-left: 10px;
}
.form-contact .select-form {
	width: 239px;
}