.faq-questions dt {
	color: #fff;
	font: 14px 'arvobold';
	border-bottom: 1px solid #867762;
	padding: 19px 0 22px;
}
.faq-questions dt:hover {
	color: #252027;
	cursor: pointer;
}
.faq-questions dt .fa {
	font-size: 22px;
	margin-right: 17px;
}
.faq-questions .selected .fa:before {
	content: "\f056";
	color: #252027;
}
.faq-questions dd {
	padding: 26px 0;
	border-bottom: 2px solid #252027;
}