.explanation {
	border-top: 6px solid #91816c;
	border-bottom: 6px solid #91816c;
	padding: 50px 0;
	margin-bottom: 66px;
}
.explanation .wrapper {
	padding: 0 56px 0 90px; 
}
.explanation li:first-child {
	margin-right: 59px;
}
.explanation li .number {
	display: block;
	width: 35px;
	height: 35px;
	background-color: #252027;
	color: #fff;
	font: 21px 'arvoregular';
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	margin: 10px 0 10px 10px;
}
.explanation li .text {
	float: left;
	font: 21px 'arvoregular';
	color: #fff;
	line-height: 18px;
}

/* Vitrine */
.vitrine {
	float: left;
	width: 700px;
	margin-bottom: 110px;
}
.vitrine .loader {
	display: block;
	position: absolute;
	bottom: -100px;
	left: 41%;
	text-align: center;
}
.vitrine .loader .text {
	display: block;
	text-transform: uppercase;
	font: 11px 'latoregular';
	margin-top: 10px;
}
.vitrine:after {
  content: ' ';
  display: block;
  clear: both;
}
.vitrine .item {
  float: left;
  width: 207px;
}
.vitrine .item.w2 {
	width: 233px;
}
.vitrine .item.w3 {
	width: 220px;
}
.vitrine .item.w4 {
	width: 460px;
}
.vitrine .item.h2 {
	height: 261px;
}
.vitrine .item.h3 {
	height: 265px;
}
.vitrine .item.h4 {
	height: 268px;
}
.vitrine .item.h5 {
	height: 549px;
}
.vitrine .item.h6 {
	height: 550px;
}
.vitrine .item > img {
	float: left;
}
.vitrine .product-info {
	float: left;
	width: 100%;
	background-color: #91816c;
	padding: 13px 12px 9px;
}
.vitrine .product-info .name {
	display: block;
	color: #fff;
	font: 13px 'latoblack';
	margin-bottom: 14px;
}
.vitrine .product-info .price {
	font: 13px 'arvobold';
	line-height: 29px;
}
.vitrine .product-info .quantity {
	font: 11px 'latoblack';
}
.vitrine .product-info .fld-quant {
	width: 38px;
	height: 29px;
	text-align: center;
	border: 0;
	border-radius: 5px;
	margin-right: 5px;
	font: 13px 'arvobold';
}
.vitrine .product-info .btn {
	color: #fff;
	background-color: #a7957a;
	height: 29px;
}
.vitrine .product-info-full {
	padding: 8px 10px 7px;
}
.vitrine .product-info-full .name {
	float: left;
	margin: 0;
	line-height: 29px;
}
.vitrine .product-info-full .price {
	padding-left: 9px;
}

/* Sacola */
.bag {
	float: right;
	width: 220px;
}
.bag .img-bag {
	display: block;
	text-align: center;
}
.bag h3 {
	font: 12px 'latoblack';
	text-transform: uppercase;
	margin: 43px 0 17px;
	padding-bottom: 15px;
	border-bottom: 1px solid #91816c;
}
.bag .wish-list {
	border-bottom: 1px solid #91816c;
	margin-bottom: 20px;
	padding-bottom: 9px;
}
.bag .wish-list ul {
	padding-bottom: 11px;
	border-bottom: 1px solid #91816c;
}
.bag .wish-list li {
	float: left;
	width: 100%;
	padding: 7px;
	line-height: 20px;
	position: relative;
}
.bag .wish-list li:hover {
	background-color: #91816c;
}
.bag .wish-list li:hover .delete {
	display: block;
}
.bag .wish-list img {
	float: left;
	margin-right: 10px;
}
.bag .wish-list .product {
	display: block;
	font: 11px 'latoblack';
	color: #fff;
	padding-top: 5px;
}
.bag .wish-list .info {
	display: block;
	font: 12px 'arvoregular';
	color: #fff;
	padding: 2px 0;
}
.bag .wish-list .price {
	display: block;
	font: 12px 'latoblack';
}
.bag .wish-list .delete {
	display: none;
	width: 24px;
	height: 100%;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	color: #91816c;
	font-weight: bold;
	padding-top: 25px;
}
.bag .wish-list .text-total {
	content: 'Total';
	float: left;
	font: 14px 'arvobold';
	text-transform: uppercase;
}
.bag .wish-list .total-price {
	float: right;
	font: 26px 'latoblack';
	color: #564c3e;
}
.bag .wish-list .total-price:before {
	content: 'R$';
	float: left;
	font: 14px 'latoblack';
	color: #fff;
	padding-top: 4px;
}
.bag label {
	display: block;
	font: 14px 'arvobold';
	text-transform: uppercase;
	margin-bottom: 8px;
}
.bag .content-buttons{
	float: left;
	width: 100%;
	clear: both;
	margin-top: 18px;
	border-top: 1px solid #91816c;
}
.bag .content-buttons .btn {
	float: left;
	padding: 12px 15px;
}
.bag .content-buttons .btn-clear {
	float: right;
	font: 12px 'latoregular';
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	margin-top: 32px;
}
.bag .content-buttons .btn-clear:before {
	content: 'X';
	color: #252027;
	padding-right: 5px;
	border-bottom: 1px solid #a7957a;
}