<!-- Modal Cadastro -->
<section class="layer modal modal-dark modal-cadastro">
    <a href="javascript:void(0);" title="fechar" class="fa fa-times-circle fechar-layer"></a>
    <h3>CADASTRO</h3>
    <p>Cadastre-se para criar suas receitas e solicitar entrega de produtos.</p>

    <form>

        <!-- CADASTRO - PARTE 1 -->
        <div class="part-1">
            <div class="btn-fb">
                <a href="#"><img src="../content/images/escolha-seu-cafe/btn-facebook.png" alt="Conectar com Facebook" width="108" height="30" /></a>
            </div>

            <div class="side-left">
                <div class="field">
                    <label for="fldUser">Usuário</label>
                    <input type="text" id="fldUser" class="fr" />
                </div>

                <div class="field">
                    <label for="fldPassC">Senha:</label>
                    <input type="password" id="fldPassC" class="fr" />
                </div>

                <div class="field">
                    <label for="fieldName">Nome:</label>
                    <input type="text" id="fieldName" class="fr" />
                </div>

                <div class="field">
                    <label for="fldSexo">Sexo:</label>
                    <div class="select-form fl">
                        <i class="fa fa-angle-down"></i>
                        <span class="value-select">M</span>
                        <select id="fldSexo">
                          <option value="M" selected>M</option>
                          <option value="F">F</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="side-right">
                <div class="field">
                    <label for="fieldEmail">E-mail:</label>
                    <input type="text" id="fieldEmail" class="fr" />
                </div>

                <div class="field">
                    <label for="fieldConfirmEmail">Confirmação da Senha:
                        <span class="error-text">senha não confere</span>
                    </label>
                    <input type="password" id="fieldConfirmEmail" class="error fr" />
                </div>

                <div class="field">
                    <label for="fldLastName">Sobrenome:</label>
                    <input type="text" id="fldLastName" class="fr" />
                </div>

                <div class="field">
                    <label for="fldDate" class="lbl-date">Data de nascimento:</label>
                    <input type="text" id="fldDate" class="date-input" placeholder="DD" />
                    <input type="text" id="fldMonth" class="date-input" placeholder="MM" />
                    <input type="text" id="fldYear" class="date-input fld-year" placeholder="AAAA" />
                </div>

                <a class="btn-modal">Continuar</a>
            </div>
        </div>

        <!-- CADASTRO - PARTE 2 -->
        <div class="part-2 hidden">
            <div class="side-left">
                <div class="field">
                    <label for="fldCep">CEP:</label>
                    <input type="text" id="fldCep" class="fl fld-cep" />
                    <a href="#" class="fl btn-modal">Buscar</a>
                </div>

                <div class="field">
                    <label for="fldAddress">Endereço:</label>
                    <input type="text" id="fldAddress" class="fr" />
                </div>

                <div class="field">
                    <div class="fl">
                        <label for="fldCity">Cidade:</label>
                        <input type="text" id="fldCity" class="fr fld-city" />
                    </div>

                    <div class="fl">
                        <label for="fldEstado">Estado:</label>
                        <div class="select-form slc-estado fl">
                            <i class="fa fa-angle-down"></i>
                            <span class="value-select">SP</span>
                            <select id="fldEstado">
                              <option value="SP" selected>SP</option>
                              <option value="RJ">RJ</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field fld-upload">
                    <label for="fldSexo">Foto:</label>
                    <span class="photo"></span>

                    <a href="#">Remover foto</a>
                    <label for="fldUploadPhoto" class="btn-modal">Alterar foto</label>
                    <input type="file" id="fldUploadPhoto" class="hidden" />
                    <span class="rules">(jpg, png ou gif, máx 1mb)</span>
                </div>
            </div>

            <div class="side-right">
                <div class="field">
                    <label for="fieldEmpresa">Empresa:</label>
                    <div class="select-form slc-empresa fl">
                        <i class="fa fa-angle-down"></i>
                        <span class="value-select">Escolha</span>
                        <select id="fieldEmpresa">
                          <option value="Empresa 1" selected>Empresa 1</option>
                          <option value="Empresa 2">Empresa 2</option>
                        </select>
                    </div>
                </div>

                <div class="text-noenterprise">
                    Sua empresa não está na lista?
                    <p>Deixe o nome da empresa e um contato para que possamos visitá-los.</p>
                </div>

                <div class="field">
                    <div class="fl fld-empresa">
                        <label for="fldNomeEmpresa">Nome da empresa:</label>
                        <input type="text" id="fldNomeEmpresa" />
                    </div>

                    <div class="fl fld-contato">
                        <label for="fldContato">Contato (E-mail, Telefone):</label>
                        <input type="text" id="fldContato" />
                    </div>
                </div>

                <input type="submit" class="btn-modal" value="Finalizar" />
            </div>
        </div>

    </form>

</section>