<section class="layer erro layerConfirmacao">
    <a href="javascript:void(0);" title="fechar" class="fa fa-times-circle fechar-layer"></a>
    <h3>Você tem certeza que quer <br /> deletar esta receita?”</h3>
    <div class="content-buttons">
        <span class="btn-modal option-modal-delete">Deletar</span>
        <span class="btn-modal option-modal-cancelar">Cancelar</span>
    </div>
</section>