<!-- Modal Esqueci Senha -->
<section class="layer modal modal-dark-medium modal-esqueci-senha">
    <a href="javascript:void(0);" title="fechar" class="fa fa-times-circle fechar-layer"></a>
    <h3>Esqueceu a senha / log-in</h3>
    <p>Para redefinir sua senha, digite o endereço de e-mail que<br /> você usa para fazer login.</p>

    <form>
        <input type="text" id="fldEmailRecoveryPass" placeholder="E-mail" />
        <input type="submit" class="btn btn-default" value="Enviar" />
    </form>

</section>