<section class="layer modal modal-dark-medium modal-perdi-cp">
    <a href="javascript:void(0);" title="fechar" class="fa fa-times-circle fechar-layer"></a>
    <h3>PERDI MEU COFFEE PASS</h3>
    <p>Não se preocupe, você pode requisitar uma segunda via do seu cartão.</p>
    <form action="javacript:void(0);">
        <div class="field-solicitar">
            <input type="checkbox" id="via-coffee-pass">
            <label for="via-coffee-pass" class="solicitar-coffee-pass">Sim, quero solicitar uma nova  via do Coffee Pass sob o pagamento de R$ X,00.</label>
        </div>
        <div class="field-selecionar-local">
            <label class="local-retirada">SELECIONE O LOCAL <br />DE RETIRADA</label>
            <div class="select-form">
                <i class="fa fa-angle-down"></i>
                <span class="value-select">Caffeinated Office</span>
                <select>
                  <option value="Caffeinated Office" selected>Caffeinated Office</option>
                  <option value="São Paulo">São Paulo</option>
                  <option value="Guarulhos">Guarulhos</option>
                  <option value="Campinas">Campinas</option>
                  <option value="São Bernardo do Campo">São Bernardo do Campo</option>
                  <option value="Santo André">Santo André</option>
                  <option value="Osasco">Osasco</option>
                </select>
            </div>
            <input type="submit" id="solicitar-via" value="Solicitar nova via" title="solicitar nova via" class="btn btn-default" />
        </div>
    </form>
</section>