/* Buttons
========================================================================== */
.btn {
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'latoblack';
    border-radius: 5px;
    clear: both;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s linear;
}
.btn:hover {
    opacity: 0.9;
}
.btn-default {
    background-color: #251f26 !important;
    font-size: 14px;
    padding: 18px 41px;
    margin-top: 20px;
}
.btn:active {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #251F26),
        color-stop(1, #4E443F)
    );
    background-image: -o-linear-gradient(bottom, #251F26 0%, #4E443F 100%);
    background-image: -moz-linear-gradient(bottom, #251F26 0%, #4E443F 100%);
    background-image: -webkit-linear-gradient(bottom, #251F26 0%, #4E443F 100%);
    background-image: -ms-linear-gradient(bottom, #251F26 0%, #4E443F 100%);
    background-image: linear-gradient(to bottom, #251F26 0%, #4E443F 100%);
}