/* ==========================================================================
   Layers
   ========================================================================== */
.layer {
    display: none;
    width: 940px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 56px 54px 43px 84px;
    box-shadow: 15px 17px 0 0 rgba(140,125,102, 0.8);
}

/* Ícone fechar */
.layer .fechar-layer {
    font-size: 32px;
    text-decoration: none;
    position: absolute;
    right: 19px;
    top: 15px;
}
.layer > p{
    clear: left;
    text-align: center;
    margin: 0;
}

/* Titulo */
.layer h3 {
    float: left;
    width: 100%;
    font: 31px 'loveloblack';
    line-height: 31px;
    text-align: center;
    margin: 0 0 20px;
}
.layer h3:after {
    content: " ";
    width: 55px;
    height: 4px;
    display: block;
    margin: 14px auto 0;
}

/* Layer Modal
========================================================================== */
.layer .btn-modal {
    background-color: #fff;
    border-radius: 5px;
    color: #26202e;
    font: 12px 'latoblack';
    text-transform: uppercase;
    padding: 12px 56px 10px;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.2s linear;
}
.layer .btn-modal:hover {
    opacity: 0.8;
}

/* Modal Light */
.modal-light {
    background-color: #fff;
    color: #8c8c8c;
}
.modal-light h3:after {
    background: #251f26;
}
.modal-light h3,
.modal-light .fechar-layer {
    color: #a7957a;
}

/* Modal Dark Medium */
.modal-dark-medium {
    background-color: #a7957a;
    color: #26202e;
}
.modal-dark-medium h3:after {
    background: #251f26;
}
.modal-dark-medium h3,
.modal-dark-medium .fechar-layer {
    color: #fff;
}

/* Modal Dark */
.modal-dark {
    background-color: #26202e;
    color: #fff;
}
.modal-dark h3:after {
    background: #a7957a;
}
.modal-dark .fechar-layer {
    color: #fff;
}

/* Layer - Erro
========================================================================== */
.layer.erro {
    display: none;
    background: #c94949;
    color: #fff;
    top: 200px;
}
.layer.erro h3:after {
    background: #251f26;
}
.step-desfrute .layer.erro > p {
    font: 14px 'arvoitalic';
    padding-top: 16px;
}
.layer.erro a {
    color: #fff;
}