<footer class="footer-main">
    <nav class="nav-main wrapper clearfix">
        <a href="../home">Como funciona</a>
        <a href="../escolha-seu-cafe">Escolha seu café</a>
        <a href="../produtos">Produtos</a>
        <a href="/" class="logo">
            <img src="../content/images/logo-willowtree-footer.png" alt="The Willow Tree Coffee CO." width="100" height="115" />
        </a>
        <a href="#">Blog</a>
        <a href="../contato">Contato</a>
        <a href="../faq">FAQ</a>

        <div class="social">
            <a href="http://www.twitter.com/WillowCoffee" target="_blank"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.facebook.com/willowtreecoffee" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="http://instagram.com/willowtreecoffee" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>

        <span class="text-copy">Copyright © 2014 - The Willow Tree Coffee Co.</span>
    </nav>
</footer>