<header class="header-main">
    <div class="login wrapper text-right">
        OLÁ!
        <a href="#">LOGIN</a>
        <a href="#">CADASTRE-SE</a>
    </div>

    <nav class="nav-main wrapper clearfix">
        <a href="../home" class="sel-funciona">Como funciona</a>
        <a href="../escolha-seu-cafe" class="sel-escolha">Escolha seu café</a>
        <a href="../produtos" class="sel-produtos">Produtos</a>
        <h1 class="logo">
            <a href="/">
                <img src="../content/images/logo-willowtree.png" alt="The Willow Tree Coffee CO." width="147" height="184" />
            </a>
        </h1>
        <a href="#">Blog</a>
        <a href="../contato" class="sel-contato">Contato</a>
        <a href="../faq" class="sel-faq">FAQ</a>

        <div class="social">
            <a href="http://www.twitter.com/WillowCoffee" target="_blank"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.facebook.com/willowtreecoffee" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="http://instagram.com/willowtreecoffee" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </nav>
</header>