/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'loveloblack';
    src: url('../fonts/lovelo-black/lovelo-black-webfont.eot');
    src: url('../fonts/lovelo-black/lovelo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lovelo-black/lovelo-black-webfont.woff2') format('woff2'),
         url('../fonts/lovelo-black/lovelo-black-webfont.woff') format('woff'),
         url('../fonts/lovelo-black/lovelo-black-webfont.ttf') format('truetype'),
         url('../fonts/lovelo-black/lovelo-black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('../fonts/lato/lato-regita-webfont.eot');
    src: url('../fonts/lato/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-regita-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regita-webfont.woff') format('woff'),
         url('../fonts/lato/lato-regita-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-regita-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight_italic';
    src: url('../fonts/lato/lato-ligita-webfont.eot');
    src: url('../fonts/lato/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-ligita-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-ligita-webfont.woff') format('woff'),
         url('../fonts/lato/lato-ligita-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-ligita-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/lato-lig-webfont.eot');
    src: url('../fonts/lato/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-lig-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline_italic';
    src: url('../fonts/lato/lato-haiita-webfont.eot');
    src: url('../fonts/lato/lato-haiita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-haiita-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-haiita-webfont.woff') format('woff'),
         url('../fonts/lato/lato-haiita-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-haiita-webfont.svg#latohairline_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latohairline';
    src: url('../fonts/lato/lato-hai-webfont.eot');
    src: url('../fonts/lato/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-hai-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-hai-webfont.woff') format('woff'),
         url('../fonts/lato/lato-hai-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-hai-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/lato-bol-webfont.eot');
    src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bol-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold_italic';
    src: url('../fonts/lato/lato-bolita-webfont.eot');
    src: url('../fonts/lato/lato-bolita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bolita-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bolita-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bolita-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bolita-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack_italic';
    src: url('../fonts/lato/lato-blaita-webfont.eot');
    src: url('../fonts/lato/lato-blaita-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-blaita-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-blaita-webfont.woff') format('woff'),
         url('../fonts/lato/lato-blaita-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-blaita-webfont.svg#latoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato/lato-bla-webfont.eot');
    src: url('../fonts/lato/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bla-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-bla-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bla-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoregular';
    src: url('../fonts/arvo/arvo-regular-webfont.eot');
    src: url('../fonts/arvo/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-regular-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-regular-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold_italic';
    src: url('../fonts/arvo/arvo-bolditalic-webfont.eot');
    src: url('../fonts/arvo/arvo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bolditalic-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-bolditalic-webfont.svg#arvobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo/arvo-bold-webfont.eot');
    src: url('../fonts/arvo/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-bold-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-bold-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoitalic';
    src: url('../fonts/arvo/arvo-italic-webfont.eot');
    src: url('../fonts/arvo/arvo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-italic-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-italic-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-italic-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-italic-webfont.svg#arvoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Fonts Icons
   ========================================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
       url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
       url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
       url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-twitter-square:before {
    content: "\f081";
}
.fa-facebook-square:before {
    content: "\f082";
}
.fa-instagram:before {
    content: "\f16d";
}
.fa-question-circle:before {
    content: "\f059";
}
.fa-pencil-square-o:before {
    content: "\f044";
}
.fa-trash:before {
    content: "\f1f8";
}
.fa-star:before {
    content: "\f005";
}
.fa-star-o:before {
    content: "\f006";
}
.fa-user:before {
    content: "\f007";
}
.fa-lock:before {
    content: "\f023";
}
.fa-times-circle:before {
    content: "\f057";
}
.fa-angle-down:before {
    content: "\f107";
}
.fa-plus-circle:before {
    content: "\f055";
}
.fa-minus-circle:before {
    content: "\f056";
}