@import url("fonts.css");
@import url("modules/layers.css");
@import url("modules/buttons.css");

/* ==========================================================================
   Class
   ========================================================================== */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.hidden {
	display: none;
}

/* ==========================================================================
   General structure
   ========================================================================== */
.header-main,
.footer-main {
	color: #a29077;
	background-color: #251f26;
}

/* Internal
========================================================================== */
.content {
	padding: 60px 0 50px;
	color: #252027;
	font: 13px 'arvoregular';
}
.content h2 {
	color: #fff;
	font: 26px 'loveloblack';
	text-transform: uppercase;
	margin-bottom: 51px;
	text-align: center;
}
.content .img-internal {
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 120px;
}
.vitrine .selected:before,
.coffee-item.coffee-selected:before {
	content: " ";
	width: 50px;
	height: 47px;
	background: url('../images/item-selected-light.png') no-repeat 0 0;
	position: absolute;
	top: -13px;
	left: 15px;
	z-index: 1;
}

/* Forms
========================================================================== */

/* Select Personalizado */
.select-form {
  display: block;
  color: #251f26;
  font-family: 'arvobold';
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  line-height: 128%;
}
.select-form:before {
  content: " ";
  width: 100%;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  cursor: pointer;
  z-index: 0;
}
.select-form .fa-angle-down {
	float: right;
	color: #a7957a;
	right: 9px;
	line-height: 35px;
	position: relative;
	font-size: 26px;
	font-weight: bold;
}
.select-form .value-select {
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'arvobold';
	font-size: 11px;
	color: #4b4338;
	padding: 8px 0 0 5px;
	line-height: 199%;
}
.select-form select {
	width: 100%;
	height: 35px;
	color: #4b4338;
	font-family: 'arvobold';
	font-size: 11px;
	text-transform: uppercase;
	background: none;
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	border: none;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}

/* Errors */
input.error {
  border: 4px solid #c94949;
}

/* Header
========================================================================== */
.header-main {
	min-height: 235px;
	font: 11px 'arvoregular';
}
	.header-main .login {
		font: 11px 'latoregular';
		padding-top: 19px;
	}
	.header-main .login a {
		padding-left: 16px;
		color: #fff;
		text-decoration: none;
	}
	.header-main .login a:hover {
		text-decoration: underline;
	}
	.header-main .login a:first-child {
		border-right: 1px solid #fff;
		padding: 0 16px 0 0;
	}

/* Menu
========================================================================== */
.nav-main > a,
.nav-main .logo,
.nav-main .social  {
	display: inline-block;
	vertical-align: middle;
}
.nav-main > a {
	color: #fff;
	text-decoration: none;
	font: 14px 'arvoregular';
	margin: 11px 13px 0;
	transition: color 0.2s linear;
	border-bottom: 2px solid transparent;
}
	/* TODO: FAZER UMA MARCAÇÃO DE MENU MELHOR */
	.como-funciona .nav-main > a.sel-funciona,
	.escolha-cafe .nav-main > a.sel-escolha,
	.produtos .nav-main > a.sel-produtos,
	.faq .nav-main > a.sel-faq,
	.contato .nav-main > a.sel-contato,
	.nav-main > a:hover:not(.logo) {
		border-bottom: 2px solid #87775e;
		color: #8e7e6a;
	}
	.nav-main .logo {
		margin: -6px 30px 0 59px;
	}
	.nav-main .social {
		border-left: 1px solid #fff;
		padding-left: 18px;
	}
	.nav-main .social .fa {
		color: #8e7e6a;
		font-size: 26px;
		margin: 0 3px 1px;
		transition: opacity 0.2s linear;
	}
	.nav-main .social .fa:hover {
		opacity: 0.5;
	}

/* Footer
========================================================================== */
.footer-main {
	min-height: 250px;
	padding-top: 65px;
	font: 12px 'latoregular';
}
	.footer-main .text-copy {
		display: block;
		text-align: center;
		margin-top: 25px;
	}

/* Navegacao flutuante - TODO: PASSAR APENAS PARA ESCOLHA SEU CAFE
========================================================================== */
.nav-float {
    height: 94px;
    position: fixed;
    right: 1%;
    top: 27%;
    z-index: 10;
    display: none;
}
.nav-float ul {
    margin: 0;
}
.nav-float ul li {
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    background: #26202e;
    margin-bottom: 6px;
    cursor: pointer;
    border: 1px solid #c1b199;
    text-transform: uppercase;
    position: relative;
}
.nav-float ul li.active-section {
  width: 15px;
  height: 15px;
  border: 4px solid #fff;
  background: none;
}

.nav-float ul li .nomeStep {
    font: 11px 'latoblack';
    color: #fff;
    text-align: right;
    width: 100px;
    position: absolute;
    left: -120px;
    top: 0;
    display: none;
}
.nav-float ul li .valor-atual-nav {
    font: 11px 'latoblack';
    color: #fff;
    text-align: right;
    width: 100px;
    position: absolute;
    left: -120px;
    top: 17px;
    display: none;
}