*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
article, aside, footer, header, nav, section {
    display: block;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    background-color: #a7957a;
}
a:active, a:hover, a:focus {
    outline: 0;
}
p {
    margin: 1em 0;
}
ul {
    margin: 1em 0;
    padding: 0;
    list-style: none;
}
dl, dd {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
h2 {
    margin: 0;
}
input, textarea {
    outline: none;
}