/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arvoregular';
    src: url('../fonts/arvo/arvo-regular-webfont.eot');
    src: url('../fonts/arvo/arvo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arvo/arvo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arvo/arvo-regular-webfont.woff') format('woff'),
         url('../fonts/arvo/arvo-regular-webfont.ttf') format('truetype'),
         url('../fonts/arvo/arvo-regular-webfont.svg#arvoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Font Awesome
 ========================================================================== */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), 
       url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.2.0') format('woff'), 
       url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), 
       url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a6957b;
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-twitter-square:before {
  content: "\f081";
}

/* ==========================================================================
   General
   ========================================================================== */
body {
    background-color: #241f25;
    margin: 0;
}
.content {
  text-align: center;
  color: #a6957b;
  font: 30px 'arvoregular';
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -266px;
}
.content p {
	margin: 25px 0 42px;
}
.content .contact {
    font: 14px 'latoregular';
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.content .contact:hover {
  text-decoration: underline;
}
.content .fa-envelope-o {
	display: block;
	line-height: 0;
	font-size: 18px;
}
.content .social-media {
  display: block;
  margin-top: 26px;
  font-size: 24px;
}
.content .social-media a {
  display: inline-block;
  width: 22px;
  margin: 0 5px;
  transition: opacity 0.2s linear;
}
.content .social-media a:hover {
  opacity: 0.5;
}